*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
.my-video{
  width: 60%;
  margin: 20vh auto;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #E7E4DF;
}
.background-video{
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
  width: 60%;
}
  */